## Inisiasi MySQL

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = 'ugm2018'
database = 'gdelt2'

conn_str = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, database);           
engine = create_engine(conn_str)

def run(sql):
    df = pd.read_sql_query(sql,engine)
    return df

def execute(sql):
    return engine.execute(statement=sql)

### Rekap Event Semua Negara

In [4]:
df = run("""
SELECT 
    Year, 
    'Brunei' as `Negara`,
    count(a.GLOBALEVENTID) as `Event` 
FROM events_BX a GROUP BY a.Year
UNION
SELECT 
    Year, 
    'Singapore' as `Negara`,
    count(b.GLOBALEVENTID) as `Event`
FROM events_SN b GROUP BY b.Year
UNION
SELECT 
    Year, 
    'Indonesia' as `Negara`,
    count(c.GLOBALEVENTID) as `Event`
FROM events_ID c WHERE c.Year > 2002 GROUP BY c.Year
UNION
SELECT 
    Year, 
    'Malaysia' as `Negara`,
    count(d.GLOBALEVENTID) as `Event`
FROM events_MY d GROUP BY d.Year
UNION
SELECT 
    Year, 
    'Thailand' as `Negara`,
    count(e.GLOBALEVENTID) as `Event`
FROM events_TH e GROUP BY e.Year
  """)

df.pivot(index='Year', columns='Negara', values='Event')

Negara  Brunei  Indonesia  Malaysia  Singapore  Thailand
Year
2003      3429      94254     45484      19375     44730
2004      3492      62982     34215      14573     41532
2005      2879      57228     28480      12669     34378
2006      4153      69311     55874      22487     58777
2007      6228     112987     93401      44432     98821
2008     10453     107503    115591      46420    137789
2009     15272     217017    204828      86564    206031
2010     17142     206536    168911      71025    174722
2011     29959     257256    206746      96265    218747
2012     33398     251790    224607     101677    191116
2013     44633     264372    312705     118310    216942
2014     54315     305430    589997     166337    310670
2015    101111     529711    639929     277323    400970
2016    175269     481431    566668     305505    377071
2017     83882     408353    515296     245113    294859
2018     50456     274485    381971     285890    212023

## Rekap Jumlah Event dan Tone (+/-) Per Tahun

In [8]:
# Negara: Malaysia

run("""
SELECT 
    Year, 
    count(a.GLOBALEVENTID) as `Total Events`, 
    sum(CASE WHEN AvgTone > 0 THEN 1 ELSE 0 END) as `Total Positive Tone`,
    sum(CASE WHEN AvgTone = 0 THEN 1 ELSE 0 END) as `Total Netral Tone`,
    sum(CASE WHEN AvgTone < 0 THEN 1 ELSE 0 END) as `Total Negative Tone`,
    avg(AvgTone) as `Average Tone`,
    max(case when AvgTone >= 0 then AvgTone end) max_positive,
    max(case when AvgTone < 0 then AvgTone end) max_negative
FROM events_MY a GROUP BY Year
  """)

,Year,Total Events,Total Positive Tone,Total Netral Tone,Total Negative Tone,Average Tone,max_positive,max_negative
0,2003,45484,45347.0,137.0,0.0,5.343244,9.99436730095755,None
1,2004,34215,34190.0,25.0,0.0,5.294704,9.97955010224949,None
2,2005,28480,28331.0,133.0,16.0,5.194110,9.97304582210243,-8.29744538231623
3,2006,55874,55691.0,162.0,21.0,5.669558,9.99966341384912,-6.4367816091954
4,2007,93401,93209.0,160.0,32.0,5.624144,9.99775972553868,-7.08812260536398
5,2008,115591,115419.0,149.0,23.0,5.591105,9.99883122954653,-7.63673890608879
6,2009,204828,204335.0,493.0,0.0,5.602364,9.9984374728728,None
7,2010,168911,168433.0,478.0,0.0,5.607923,9.99975511803311,None
8,2011,206746,206061.0,685.0,0.0,5.656953,9.99445061043283,None
9,2012,224607,222890.0,1717.0,0.0,5.220474,9.99966681659918,None
10,2013,312705,303996.0,8709.0,0.0,2.512237,9.97150997150997,None
11,2014,589997,570350.0,12626.0,7021.0,2.097645,9.95670995670996,-9.99999999999997
12,2015,639929,223175.0,13311.0,403443.0,-1.578512,9.99999999999997,-9.99999999999999
13,2016,566668,162112.0,12511.0,392045.0,-1.852029,9.99999999999999,-9.99999999999999
14,2017,515296,159017.0,10398.0,345881.0,-1.922685,9.97442455242967,-9.99999999999999
15,2018,381971,125516.0,9115.0,247340.0,-1.552890,9.95024875621891,-9.99999999999999

## Rekap Jumlah SOURCE URL per Tahun

In [3]:
# Negara: Malaysia

run("""
SELECT 
    Year, 
    count(a.GLOBALEVENTID) as `Total Events`, 
    count(DISTINCT a.SOURCEURL) as `Unique Source URL`,
    sum(CASE WHEN SOURCEURL = "n/a" OR SOURCEURL IS NULL THEN 1 ELSE 0 END) as `Source URL Kosong`
FROM events_LA a GROUP BY Year
  """)

    Year  Total Events  Unique Source URL  Source URL Kosong
0      0             1                  1                0.0
1   2003            10                  5                0.0
2   2004             2                  2                0.0
3   2005             7                  2                0.0
4   2006            18                  7                0.0
5   2007            13                  5                0.0
6   2008             6                  1                0.0
7   2012           209                 78                0.0
8   2013         20381               4623             1217.0
9   2014         24866               6104                0.0
10  2015         38834               8911                0.0
11  2016         96441              23338                0.0
12  2017         47142              10595                0.0
13  2018         34711               8101                0.0

## Rekap Kategori Event per Tahun

In [37]:
# Negara: Malaysia

df = run("""
SELECT         
    Year, 
    CONCAT(EventCode,'. ',(SELECT description FROM CAMEO_events_code WHERE code = EventCode)) as Description,
    count(GLOBALEVENTID) as Jumlah
FROM events_MY 
WHERE Year > 2013 
GROUP BY EventCode, Year
HAVING Description IS NOT NULL
  """)

df.pivot(index='Description', columns='Year', values='Jumlah')

Year,2014,2015,2016,2017,2018
Description,,,,,
"010. Make statement, not specified below",47600.0,51869.0,44880.0,40137.0,30209.0
011. Decline comment,900.0,1119.0,1068.0,1017.0,725.0
012. Make pessimistic comment,10095.0,11462.0,9929.0,8544.0,6266.0
013. Make optimistic comment,12520.0,14062.0,11927.0,10875.0,8784.0
014. Consider policy option,7204.0,7108.0,6396.0,5484.0,5538.0
015. Acknowledge or claim responsibility,1587.0,2537.0,2291.0,2161.0,1535.0
016. Deny responsibility,2566.0,2857.0,2762.0,2828.0,2414.0
017. Engage in symbolic act,2669.0,2685.0,2652.0,2603.0,1271.0
018. Make empathetic comment,2041.0,1529.0,1229.0,908.0,433.0
019. Express accord,139.0,112.0,163.0,89.0,121.0
"020. Make an appeal or request, not specified below",32907.0,38298.0,33962.0,29728.0,24469.0
"021. Appeal for material cooperation, not specified below",84.0,115.0,168.0,90.0,101.0
0211. Appeal for economic cooperation,100.0,127.0,183.0,144.0,99.0
0213. Appeal for judicial cooperation,99.0,130.0,90.0,154.0,182.0
0214. Appeal for intelligence,820.0,1005.0,872.0,778.0,591.0
022. Appeal for diplomatic cooperation (such as policy support),580.0,745.0,688.0,546.0,446.0
"023. Appeal for aid, not specified below",633.0,845.0,788.0,620.0,468.0
0231. Appeal for economic aid,127.0,238.0,231.0,149.0,190.0
0232. Appeal for military aid,14.0,4.0,3.0,17.0,3.0
0233. Appeal for humanitarian aid,89.0,108.0,105.0,95.0,57.0
0234. Appeal for military protection or peacekeeping,173.0,249.0,231.0,151.0,133.0
"024. Appeal for political reform, not specified below",6.0,17.0,14.0,11.0,21.0
0241. Appeal for change in leadership,140.0,566.0,430.0,231.0,230.0
0242. Appeal for policy change,11.0,11.0,9.0,10.0,7.0
0243. Appeal for rights,11.0,21.0,33.0,28.0,36.0
"0244. Appeal for change in institutions, regime",2.0,8.0,3.0,1.0,15.0
"025. Appeal to yield, not specified below",921.0,1449.0,902.0,806.0,823.0
0251. Appeal for easing of administrative sanctions,1.0,6.0,NaN,3.0,8.0
0253. Appeal for release of persons or property,100.0,118.0,104.0,115.0,84.0
"0254. Appeal for easing of economic sanctions, boycott, or embargo",6.0,4.0,NaN,NaN,NaN
...,...,...,...,...,...
"172. Impose administrative sanctions, not specified below",4374.0,5628.0,5698.0,6567.0,3540.0
1721. Impose restrictions on political freedoms,514.0,546.0,499.0,498.0,293.0
1722. Ban political parties or politicians,14.0,37.0,31.0,66.0,48.0
1723. Impose curfew,142.0,161.0,128.0,108.0,68.0
1724. Impose state of emergency or martial law,43.0,87.0,37.0,42.0,18.0
"173. Arrest, detain, or charge with legal action",17918.0,26192.0,21381.0,23443.0,13952.0
174. Expel or deport individuals,682.0,1102.0,1027.0,1209.0,750.0
175. Use tactics of violent repression,176.0,310.0,252.0,91.0,62.0
"180. Use unconventional violence, not specified below",1706.0,1483.0,1652.0,1811.0,607.0
"181. Abduct, hijack, or take hostage",2960.0,1493.0,3779.0,1765.0,691.0
"182. Physically assault, not specified below",539.0,670.0,737.0,531.0,322.0
1821. Sexually assault,706.0,847.0,522.0,572.0,232.0
1822. Torture,139.0,232.0,205.0,212.0,158.0
1823. Kill by physical assault,263.0,354.0,199.0,107.0,78.0
"183. Conduct suicide, car, or other non-military bombing, not specified below",152.0,193.0,161.0,48.0,56.0
1831. Carry out suicide bombing,136.0,42.0,356.0,57.0,15.0
1832. Carry out vehicular bombing,22.0,15.0,21.0,12.0,6.0
184. Use as human shield,NaN,NaN,1.0,NaN,NaN
185. Attempt to assassinate,35.0,22.0,13.0,77.0,12.0
186. Assassinate,426.0,569.0,477.0,2762.0,859.0
"190. Use conventional military force, not specified below",22897.0,19525.0,15483.0,20405.0,9771.0
"191. Impose blockade, restrict movement",190.0,201.0,224.0,234.0,127.0
192. Occupy territory,1723.0,1678.0,1513.0,1718.0,990.0
193. Fight with small arms and light weapons,6526.0,3287.0,3883.0,2298.0,2621.0
194. Fight with artillery and tanks,1023.0,309.0,487.0,328.0,145.0
"195. Employ aerial weapons, not specified below",776.0,546.0,290.0,452.0,160.0
196. Violate ceasefire,4.0,23.0,2.0,3.0,NaN
201. Engage in mass expulsion,8.0,3.0,6.0,3.0,6.0
202. Engage in mass killings,39.0,46.0,55.0,19.0,13.0
203. Engage in ethnic cleansing,17.0,65.0,338.0,158.0,45.0